@font-face {
	font-family: "Dancing Script";
	src: url("assets/dancing_script.ttf");
}

@font-face {
	font-family: "Arvo";
	src: url("assets/Arvo-Regular.ttf");
}

body {
	margin: 0;
	background: url("assets/restaurant.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(0, 0, 0, 0.4);
	background-blend-mode: multiply;
	font-family: "Dancing Script";
}

.header {
	display: grid;
	justify-items: center;
}

button {
	font-family: "Arvo";
	font-size: 2rem;
	border-radius: 1rem;
	padding: 0.5rem 2rem;
	opacity: 0.7;
	border: none;
	margin: 1rem;
}

button:hover,
button.active {
	opacity: 1;
	transform: scale(1.1);
	transition-duration: 0.1s;
}

#content {
	display: grid;
	justify-items: center;
}

.title {
	margin-top: 1rem;
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	color: white;
}

.container {
	font-size: 5rem;
	font-weight: bold;
	color: white;
	display: grid;
	margin-top: 20rem;
	width: 60vw;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: space-around;
	text-align: center;
}

form {
	margin-top: 2rem;
}

.form-container {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	display: grid;
	grid-template-columns: 7rem auto;
}

.menu-container {
	display: grid;
	grid-template-columns: 35vw 35vw;
	row-gap: 0.5rem;
	padding: 2rem;
	background-color: peachpuff;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px peachpuff;
	--animate-duration: 1s;
}

.menu-item {
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: 1rem;
	grid-template-rows: auto auto;
	font-size: 5rem;
	color: black;
}

img {
	width: 20rem;
	height: 15rem;
	object-fit: cover;
	grid-row: 1 / -1;
}
